body {
	width: 100%;
	max-width: 900px;
	margin: 20px auto;
	font-family: "Source Sans Pro", sans-serif;
}

#head {
	background: #002060;
	color: #ffffff;
	padding: 10px;
}

#head h1 {
	margin: 0;
}

#menu a {
	margin: 2px 10px;
	padding: 2px;
}

.alert {
	padding: 10px;
}

.alert-success {
	background: #88ff88;
	border: 2px solid #008800;
}

.alert-info {
	background: #88ffff;
	border: 2px solid #008888;
}

.alert-warning {
	background: #ffff88;
	border: 2px solid #888800;
}

.alert-danger {
	background: #ff8888;
	border: 2px solid #880000;
}
