body {
	font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
	font-weight: 300;
}

.bg-crispycat {
	background: #002060;
}

.ban {
	border: 2px solid #f00;
	padding: 10px;
	margin-bottom: 10px;
}
